_archive
static/html/**/*.html
sample/frontend/

# individual files
sandbox.py
/sample/dictionary.py
/data/dictionary.json

# file types
*.jpg
*.png
*preview*.html
*.pyc
*.csv
*.sublime-project
*.sublime-workspace
*.log
*.db
*.sqlite