<!-- JUDGES PICS -->
{%- if d.award == "effectiveness" %}
<section class="section-default bg-background1">
{%- else %}
<section class="section-default bg-primary3 font-inverse">
{%- endif %}
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<h3>{{ d.year }} Judges</h3>
				{%- set chair = d.judges[0] %}
				{%- if d.open %}
				<p>A judging panel of industry experts, chaired by {{ chair.Name + ' ' + chair.Surname }}, {{ chair.Title }}, {{ chair.Company }}, will be reading the entries.</p>
				{%- else %}
				<p>A judging panel of industry experts will be announced in the coming weeks.</p>
				{%- endif %}
			</div>
		</div>
{% include "judges_headshots.html" %}
	</div>
</section>