<!-- JUDGES BIOS -->
<section class="section-title-text">
  <div class="container-fluid nested">
    <h1>{{ d.full_award }}: {{ d.year }} {{ d.full_category }} Judges</h1>
  </div>
</section>

<section class="container-wide padding-t-biggest">
  <div class="tiles-people">
    {% set chair = d.judges[0] -%}
    {% set cname = chair.Name + ' ' + chair.Surname -%}
    {% for j in d.judges -%}
    {% set jname = j.Name + ' ' + j.Surname -%}
    {% set jimage = jname.lower().replace("'",'-').replace(' ', '-').replace('’','-').replace('ü','u') -%}
    {% set jtitle = j.Title + ', ' + j.Company -%}
    {%- if j.Bio|length > 5 %}
    
    <!-- {{ jname }} -->
    <div class="tile" id="{{ jimage }}">
      <div class="person-main">
        <div class="person-name">
          <h4>{{ jname }}</h4>
        </div>
        <div class="person-bio">
          <p>
            {% if jname == cname -%}
            <span class="tag">Chair of Judges</span><br>
            {% endif -%}
            <span class="tag">{{ jtitle }}</span>
            <br>
            {{ j.Bio }}
          </p>
        </div>
      </div>
      <div class="person-image">
        <img src="https://cdn.warc.com/Images/WARCSiteContent/landing-pages/awards/{{ d.award }}/judges/{{ jimage }}.jpg" alt="{{ jname }}">
      </div>
    </div>
    {%- endif %}
    {%- endfor %}
  
  </div>
</section>

<div class="container-wide text-center margin-t-big margin-b-medium">
{%- if 'mena' in d.award or 'asia' in d.award %}
  <p><a href="{{ d.url }}" class="link-backwards">Back to the {{ d.full_award }} page</a></p>
{%- else %}
  <p><a href="/{{ d.url }}/{{ d.category }}" class="link-backwards">Back to the {{ d.full_award }}: {{ d.full_category }} page</a></p>
{% endif -%}
</div>