		<!-- JUDGES HEADSHOTS -->
		<div class="tiles-headshots">
		{%- if d.judges %}
		{%- for j in d.judges %}
		{%- set jname = j.Name + ' ' + j.Surname %}
		{%- set jimage = jname.lower().replace("'",'-').replace(' ', '-').replace('’','-').replace('ü','u') %}
		{%- if j.Bio|length > 5 %}
			<!-- {{ jname }} -->
		    <a class="tile" href="https://www.warc.com/{{ d.judges_url }}#{{ jimage }}">
		        <img src="https://cdn.warc.com/Images/WARCSiteContent/landing-pages/awards/{{ d.award }}/judges/{{ jimage }}.jpg" alt="{{ jname }}">
		    </a>
		{% endif -%}{% endfor -%}{% endif -%}
		</div>