<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title></title>
		<!-- TODO review what is actually necessary for logged out and load styles conditionally -->
		<link rel="stylesheet" type="text/css" href="https://cdn.warc.com/css/bootstrap.min.css?v=1115141438">
		<link rel="stylesheet" type="text/css" href="https://cdn.warc.com/styles/css/navigation.min.css?v=1115141440">
		<link rel="stylesheet" type="text/css" href="https://cdn.warc.com/styles/css/logged-out.min.css?v=1115141433">
		<link rel="stylesheet" type="text/css" href="https://cdn.warc.com/Styles/Css/cms-landing-pages.min.css?v=1115141437">
		<link rel="stylesheet" type="text/css" href="https://cdn.warc.com/css/static-holding.min.css?v=1115141440">
		<!--Sans-serif - Aktiv Grotesk-->
		<link rel="stylesheet" href="https://use.typekit.net/xtv3zgw.css">
		<!--Serif - Starling-->
		<link rel="stylesheet" href="https://use.typekit.net/dwj5fqn.css">
</head>	
<body>
	{% block content %}
	{% endblock %}
</body>
</html>