<!-- SHORTLIST PAGE -->
<div id="winners">
	<section class="section-std bg-background1" id="shortlist">
		<div class="container-fluid">
			<h3>Shortlist</h3>
		</div>
		<div class="container-fluid margin-t-medium">
			<section class="tiles-triptych tiles-spaced">
				{% for i in d.papers %}
				<a class="tile tile-light" href="{{ i.Link }}">
					<h6>{{ i.Title }}</h6>
					<div class="credits">
						<div>
							<span class="credits-category">Brand</span><br>
							{{ i.Brand }}
						</div>
						{% if d.award != "effectiveness" -%}
						<div>
							<span class="credits-category">Agency</span><br>
							{{ i.Lead }}
						</div>
						{% else -%}
						<div>
							<span class="credits-category">Entrant</span><br>
							{{ i.Entrant }}
						</div>
						{% endif -%}
						<div>
							<span class="credits-category">Advertiser</span><br>
							{{ i.Parent }}
						</div>
						<div>
							<span class="credits-category">Market</span><br>
							{{ i.Market }}
						</div>
					</div>
				</a>
				{% endfor %}	
			</section>
			<div class="row margin-t-medium">
				<div class="col-sm-6 col-lg-3 mx-auto containing-box-links text-center">
					<a class="box-links box-links-wide" href="/Search/Award/{{ d.cartridge }}/{{ d.shortlisted_ids|join(',') }}">Browse shortlist</a>
				</div> 
			</div>
		</div>
	</section>
</div>
