<!-- SHORTLIST PAGE -->
<div id="winners">
	<section class="section-std bg-background1" id="shortlist">
		<div class="container-fluid">
			<h3>Shortlist</h3>
		</div>
		<div class="container-fluid margin-t-medium">
			<section class="tiles-triptych tiles-spaced">
				{% for i in d.papers %}
				<a class="tile tile-light" href="{{ i.Link }}">
					<h6>{{ i.Title }}</h6>
					{% include 'credits_metadata.html' %}
				</a>
				{% endfor %}	
			</section>
			{% include "cta_browse_shortlisted.html" %}
		</div>
	</section>
</div>
