<!-- WINNERS -->
<div id="winners">
	<section class="section-jumps">
		<div class="container-fluid">
			<ul>
				<li><a href="#grand-prix">Grand Prix</a></li>
				<li><a href="#gold">Gold</a></li>
				<li><a href="#silver">Silver</a></li>
				<li><a href="#bronze">Bronze</a></li>
				<li><a href="#shortlist">Shortlist</a></li>
			</ul>
		</div>
	</section>

	<!-- Grand Prix -->
	<section class="section-std bg-background2" id="grand-prix">
		<div class="container-fluid">
			<h3>Grand Prix</h3>
			{% for i in d.papers %}{% if 'GRAND' in i.Award|upper %}
			<div class="row justify-content-lg-between">
				<div class="col-sm-6 col-lg-5 intro-image order-lg-2">
					<img src="https://cdn.warc.com/Images/WARCSiteContent/content/{{ d.img_content_code }}/{{ i.ID }}.jpg" alt="{{ i.Title }}">
				</div>
				<div class="col-lg-6 order-lg-1">
					<h4><a href="{{ i.Link }}">{{ i.Title }}</a></h4>
					{% include "credits_special_awards.html" %}
					{% include "credits_metadata.html" %}
					<p>{{ i.summary1 if i.summary1 else "PLACEHOLDER" }}</p>
					<p>{{ i.summary2 if i.summary1 else "PLACEHOLDER" }}</p>
					<p>{{ i.summary3 if i.summary1 else "PLACEHOLDER" }}</p>
				</div>
			</div>
			{% endif %}{% endfor %}
		</div>
	</section>
	
	<!-- Gold -->
	<section class="section-std bg-background1 pb-0" id="gold">
		<div class="container-fluid">
			<h3>Gold</h3>
			{% for i in d.papers %}{% if 'GOLD' in i.Award|upper %}
			<!-- <div class="row justify-content-lg-between margin-t-medium"> -->
			<div class="row justify-content-lg-between margin-t-big">
				<div class="col-sm-6 col-lg-5 intro-image order-lg-2">
					<img src="https://cdn.warc.com/Images/WARCSiteContent/content/{{ d.img_content_code }}/{{ i.ID }}.jpg" alt="{{ i.Title }}">
				</div>
				<div class="col-lg-6 order-lg-1">
					<h4><a href="{{ i.Link }}">{{ i.Title }}</a></h4>
					{% include "credits_special_awards.html" %}
					{% include "credits_metadata.html" %}
					<p>{{ i.summary1 if i.summary1 else "PLACEHOLDER" }}</p>
				</div>
			</div>
			{% endif %}{% endfor %}		
		</div>
	</section>
	
	<!-- Silver -->
	<section class="section-std bg-background1 pb-0" id="silver">
		<div class="container-fluid">
			<h3>Silver</h3>
		</div>
		<div class="container-fluid margin-t-medium">
			<section class="tiles-triptych tiles-spaced">
				{% for i in d.papers %}{% if 'SILVER' in i.Award|upper %}
					<a class="tile tile-light" href="{{ i.Link }}">
						<h6>{{ i.Title }}</h6>
						{% include "credits_metadata.html" %}
						{% include "credits_special_awards.html" %}
					</a>
				{% endif %}{% endfor %}
			</section>
		</div>
	</section>
	
	<!-- Bronze -->
	<section class="section-std bg-background1 pb-0" id="bronze">
		<div class="container-fluid">
			<h3>Bronze</h3>
		</div>
		<div class="container-fluid margin-t-medium">
			<section class="tiles-triptych tiles-spaced">
				{% for i in d.papers %}{% if 'BRONZE' in i.Award|upper %}
					<a class="tile tile-light" href="{{ i.Link }}">
						<h6>{{ i.Title }}</h6>
						{% include "credits_metadata.html" %}
						{% include "credits_special_awards.html" %}
					</a>
				{% endif %}{% endfor %}
			</section>
			{% include "cta_browse_winning.html" %}
		</div>
	</section>
	
	<!-- Shortlist -->
	<section class="section-std bg-background1" id="shortlist">
		<div class="container-fluid">
			<h3>Shortlist</h3>
		</div>
		<div class="container-fluid margin-t-medium">
			<section class="tiles-triptych tiles-spaced">
				{% for i in d.papers %}{% if 'Shortlisted' in i.Award %}
					<a class="tile tile-light" href="{{ i.Link }}">
						<h6>{{ i.Title }}</h6>
						{% include "credits_metadata.html" %}
						{% include "credits_special_awards.html" %}
					</a>
					{% endif %}{% endfor %}
			</section>

			<!-- Box Links -->
			{% include "cta_browse_shortlisted.html" %}
		</div>



	</section>
</div>